body {
  margin: 40px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  color: #444;
  margin-bottom: 3em;
}



.two .a {
  grid-column: 1 / 4;
  grid-row: 1;
}
.two .b {
  grid-column: 3;
  grid-row: 2 / 3; 
}
.two .c {
  /* grid-column: 1; */
  /* grid-row: 2; */
}
.two .d {
  /* grid-column: 2; */
  /* grid-row: 2; */
}

@media screen and (max-width: 600px) {
    .wrapper {
        /* display: block; */

  grid-template-columns: 1fr 1fr;

    }
}